@media screen and (min-width: 768px) {
  /* main containers */
  .container {
    max-width: 768px;
  }

  .mini {
    max-width: 582px;
  }

  /* header */

  .header {
    padding-bottom: 17px;
  }

  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 123px;
  }

  .nav {
    display: flex;
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .current-page {
    color: var(--pressed-state);
  }

  .nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-link {
    color: var(--dark);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--cubic-bezier);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--pressed-state);
  }

  .address {
    font-style: normal;
  }

  .address-list {
    vertical-align: top;
  }

  .address-link {
    color: var(--text);
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color var(--cubic-bezier);
    font-size: 12px;
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--pressed-state);
  }

  /* mob menu */

  .mob-header {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  /* hero */
  .hero {
    background-image: var(--dark-gradient), url(../images/hero-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--dark-gradient), url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }

  /* footer */

  .footer > .container {
    display: flex;
    justify-content: center;
  }

  .footer-logo-container {
    margin-right: 24px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-soc-title {
    text-align: left;
  }

  .footer-tab-wrap {
    display: flex;
    align-items: baseline;
  }

  .footer-form-title {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
    margin-bottom: 0;
  }

  /* features */
  .features-list {
    column-gap: 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
  }

  /* team */

  .team {
    padding-bottom: 104px;
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: 264px;
  }

  /* customers */

  .customers-list {
    column-gap: 24px;
    justify-content: center;
  }

  .customers-item {
    width: calc((100% - 234px) / 3);
  }
}
